.admin-tool-container
	padding: 50px

	.darkgray
		color: darkgray

	.lightgray
		color: lightgray

img.app-icon
	background-color: orange
	display: block
	-webkit-mask: url('./application.svg') no-repeat center / contain
	mask: url('./application.svg') no-repeat center / contain
