<html>
	<head>
		<script type="text/javascript" th:src="${reactUrl}"></script>
		<script type="text/javascript" th:src="${reactDomUrl}"></script>
		<link rel="stylesheet" media="all" th:href="${cssUrl}">
		<link rel="stylesheet" media="all" th:href="${assetUrl} + '/style/sass/index.css'">
		<!--script type="module" th:src="${assetUrl} + '/' + ${appComponentUrl}'"></script-->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title th:text="${displayName}"/>
	</head>
	<body style="font-size:13px">
		<main th:data-portal-region="main">
			<div th:each="component : ${regions.main.components}" th:remove="tag">
				<div data-portal-component="${component.path}" th:remove="tag"/>
			</div>
			<div id="react-root"></div>
			<script type='module' defer>
import {App} from '[[${appComponentUrl}]]';
const root = ReactDOM.createRoot(document.getElementById('react-root'));
root.render(React.createElement(App, {}));
			</script>
		</main>
	</body>
</html>
